/* You can add global styles to this file, and also import other style files */
.dropdown {
    padding: 10px;
    width: 100%;
}

.delete-item {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

div.dropdown-item:hover .delete-item {
    display: inline;
}